<div class="text-right">
  <a class="btn btn-sucess" id="btnNovaEmpresa">
    <button type="button" class="btn btn-success" (click)="novo()">Nova Empresa</button>
  </a>
</div>
<br>
<br>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <td>Nome Fantasia</td>
      <td>CNPJ</td>
      <td>UF</td>
    </tr>
  </thead>


  <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.nomeFantasia }}</td>
      <td>{{ item.cnpj }}</td>
      <td>{{ obterTipoEstado (item.uf) }}</td>
      <td>
        <a class="btn btn-primary" (click)="editar(item.idEmpresa)" style="color:white">Editar</a>
        <a class="btn btn-danger" (click)="remover(item.idEmpresa)" style="color:white">Remover</a>
      </td>
    </tr>
  </tbody>
</table>




<p-dialog header="Cadastrar Empresa" [(visible)]="display" [style]="{'width' : '750px'}" [formGroup]="form">
  <div class="form-group">
    <input required type="text" class="form-control" id="nomeFantasia" name="nomeFantasia"
      formControlName="nomeFantasia" placeholder="Nome Fantasia" />
  </div>

  <div class="form-group">
    <p-inputMask type="text" mask="99.999.999/9999-99" name="cnpj" formControlName="cnpj" placeholder="CNPJ" [style]="{'width' : '300px'}"></p-inputMask>
  </div>
  <div class="form-group">
    <select id="uf" name="uf" class="form-control" formControlName="uf" placeholder="Estado">
      <option value="null">Selecione o Estado</option>
      <option value="1">Acre</option>
      <option value="2">Alagoas</option>
      <option value="3">Amapá</option>
      <option value="4">Amazonas</option>
      <option value="5">Bahia</option>
      <option value="6">Ceará</option>
      <option value="7">Distrito Federal</option>
      <option value="8">Espírito Santo</option>
      <option value="9">Goiás</option>
      <option value="10">Maranhão</option>
      <option value="11">Mato Grosso</option>
      <option value="12">Mato Grosso do Sul</option>
      <option value="13">Minas Gerais</option>
      <option value="14">Pará</option>
      <option value="15">Paraíba</option>
      <option value="16">Paraná</option>
      <option value="17">Pernambuco</option>
      <option value="18">Piauí</option>
      <option value="19">Rio de Janeiro</option>
      <option value="20">Rio Grande do Norte</option>
      <option value="21">Rio Grande do Sul</option>
      <option value="22">Rondônia</option>
      <option value="23">Roraima</option>
      <option value="24">Santa Catarina</option>
      <option value="25">São Paulo</option>
      <option value="26">Sergipe</option>
      <option value="27">Tocantins</option>
      <option value="28">Estrangeiro</option>
  </select>
    </div>
  <p-footer>
    <div class="pull-right">
      <button type="button" class="btn btn-danger" (click)="close()" id="idBtnFecharObjeto">
        <i class="zmdi zmdi-close-circle"></i> Fechar
      </button>
      <button type="button" class="btn btn-success" (click)="salvar()" id="idBtnSalvarObjeto">
        <i class="zmdi zmdi-shield-check"></i> Salvar
      </button>
    </div>
  </p-footer>
</p-dialog>

