<div class="container">
  <div class="row">
    <span class="quem-somos">QUEM SOMOS </span>
  </div>
  <div class="texto-quem-somos">
    Criada no ano de 2019, na cidade de Jaraguá do Sul - Santa Catarina, a
    Muralis é uma marca que vem sendo um diferencial no mercado feita para todo o tipo de público Feminino,Masculino e Plus Size 
    trazendo conforto,modernidade e tecnologia.
    Todas as peças e coleções são pensadas uma a uma, desde o corte até a entrega ao consumidor mais exigente para entrega a máxima qualidade.
    A Muralis é moda para toda a família, buscando cada dia melhorar o alto padrão de qualidade e agradar todo seu público.
  </div>
</div>
