<br>
<app-titulo [titulo]="titulo"></app-titulo>
<div class="d-flex">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro:</label> <input type="text" class="form-control mr-2" placeholder="buscar"
        [(ngModel)]="filtroLista">
    </div>
  </div>
  <div>
    <button class="btn bt-outline-primary" [routerLink]="['/fornecedor','new']">Novo Fornecedor>
      <i class="fa fa-plus-circle"></i>
    </button>
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Empresa</th>
      <th>CNPJ</th>
      <th>Telefone</th>
      <th colspan="2">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="fornecedores && fornecedores.length">
    <tr *ngFor="let fornecedor of fornecedoresFiltrados">
      <td>{{fornecedor.nome}}</td>
      <td>{{fornecedor.cpfcnpj}}</td>
      <td>{{fornecedor.telefoneFornecedor[0]?.numeroTelefone}}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success" [routerLink]="['/fornecedor',fornecedor.id,'edit']" tooltip="Editar">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" (click)="excluirFornecedor(fornecedor,confirm)" tooltip="Excluir">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!empresas">
    <tr colspan="7" class="text-center">
      <h4>
        Nenhum cliente encontrado
      </h4>
    </tr>
  </tfoot>
</table>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Deletando Cliente
        </h4>
        <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{bodyDeletarFornecedor}}</p>
      </div>
      <div class="modal-footer btn-group d-flex">
        <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
          CENCELAR
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          DELETAR
        </button>
      </div>
    </div>
  </div>
</div>